<!DOCTYPE html>
<html>
<body>

<head>
<link rel="stylesheet" href="{{ STATIC_URL }}/static/article.css">
</head>

<div class="header_article">
<img src="{{ STATIC_URL }}/static/img/logo.png" />
<h4 class="outer_link"><a href="/">Все статьи</a></h4>
</div>

<div class="article">
<h2 class="post-title">{{ post.title }}</h2>
<div class="article-info">
<div class="article-author">{{ post.author.username }}</div>
<div class="article-created-date">{{ post.created_date }}</div>
</div>
<p class="article-text">{{ post.get_excerpt }}</p>
</div>

</body>
</html>
