body {
    background: #1abc9c;
    font-family: Tahoma, Arial, sans-serif;
    color: #ffffff;
}

.header img {
    display: block;
    width: 318px;
    margin-left: auto;
    margin-right: auto;
}

.article h1 {
    text-align: center;
}

.archive, .article {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.article .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article img {
    margin-left: 0;
}

.post-title a {
    color: #ffffff;
}

.article-author {
    width: 50%;
    float: left;
}

.article-created-date {
    text-align: right;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

form textarea, form input {
    border-radius: 5px;
}

form textarea {
    height: 100px;
    margin: 10px 0 25px;
    padding: 10px 15px;
}

form input {
    padding: 5px 15px;
    height: 30px;
    border-style: none;
}

.article-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.article_hidden .article-info {
    display: none;
}

.article_hidden .article-text {
    display: none;
}

.links a {
color: #ffffff;
}

.one-post {
    position: relative;
}

.one-post-shadow {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background: black;
z-index: -1;
opacity: 0;
}


